@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px; }

body {
  background-color: grey; }

li, p, a, h1, h2, h3, h4, h5, h6, header, td, th, caption {
  font-family: sans-serif; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 19px; }

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 16px;
  line-height: 16px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5; }

.codeComment {
  color: darkorange; }

.important_thing {
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 5px; }

#main-doc {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "navbar documentation";
  grid-gap: 2px 2px; }
  #main-doc header {
    font-size: 25px; }

#navbar {
  grid-area: navbar;
  position: fixed;
  background-color: #f2f2f2;
  align-items: start;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #navbar img {
    width: 100px;
    margin: 10px auto; }
  #navbar header {
    text-align: center;
    width: 200px;
    padding: 10px 0;
    font-family: sans-serif; }
  #navbar ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #navbar ul li {
      text-align: center;
      width: 95%;
      border: 2px solid black;
      margin-bottom: 3px;
      border-radius: 7px; }
      #navbar ul li a {
        text-decoration: none;
        display: block;
        width: 100%;
        color: black;
        font-size: 20px; }
    #navbar ul a:before {
      content: "♠";
      color: black; }
    #navbar ul a:after {
      content: "♦";
      color: red; }
    #navbar ul a:hover {
      background-color: white;
      border-radius: 7px; }
    #navbar ul a:hover:after {
      content: "♣";
      color: black; }
    #navbar ul a:hover:before {
      content: "♥";
      color: red; }

#documentation {
  display: grid;
  grid-area: documentation;
  grid-gap: 2px 2px; }
  #documentation section {
    background-color: #f2f2f2;
    padding: 1%; }
    #documentation section header {
      text-align: center;
      padding-bottom: 10px;
      font-weight: bold; }
    #documentation section h2, #documentation section h3 {
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px; }
    #documentation section code, #documentation section samp {
      text-align: left;
      background-color: #282c34;
      border-radius: 5px;
      padding: 5px;
      line-height: 26px;
      color: lightgreen; }
    #documentation section pre {
      background-color: #282c34;
      padding: 5px;
      border-radius: 5px;
      width: fit-content; }
    #documentation section p {
      padding: 10px 0;
      font-family: sans-serif; }
    #documentation section ul {
      display: block;
      width: fit-content;
      margin: 0 auto;
      align-self: start;
      padding-top: 10px;
      list-style-type: none; }
      #documentation section ul li {
        text-align: left; }
        #documentation section ul li a {
          text-decoration: none;
          color: black; }
    #documentation section table {
      border-collapse: collapse;
      margin: 0 auto;
      width: 95%;
      max-width: fit-content;
      max-width: 700px; }
      #documentation section table colgroup col:nth-child(1) {
        width: 50px; }
      #documentation section table colgroup col:nth-child(2) {
        width: 50px; }
      #documentation section table colgroup col:nth-child(3) {
        width: 1fr; }
      #documentation section table colgroup col:nth-child(4) {
        width: fit-content; }
      #documentation section table td, #documentation section table th {
        text-align: center;
        width: fit-content;
        min-width: 20px;
        padding: 5px;
        border: 1px dashed grey;
        border-collapse: collapse;
        background-color: white;
        overflow: hidden; }
        #documentation section table td a, #documentation section table th a {
          color: green; }
  #documentation #Emmet table td:last-child {
    text-align: left; }
  #documentation #Links ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%; }
    #documentation #Links ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid black;
      border-radius: 7px;
      text-align: center;
      background-color: white;
      width: fit-content;
      height: fit-content;
      box-sizing: border-box; }
      #documentation #Links ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        box-sizing: border-box; }
      #documentation #Links ul li a:hover {
        background-color: green;
        border-radius: 5px;
        color: white; }
  #documentation #Sublime_Text table.packages_table {
    counter-reset: tableRow; }
    #documentation #Sublime_Text table.packages_table tr td a {
      text-decoration: none; }
    #documentation #Sublime_Text table.packages_table tr td:first-child::before {
      counter-increment: tableRow;
      content: counter(tableRow); }
  #documentation #VScodium table.packages_table {
    counter-reset: tableRow; }
    #documentation #VScodium table.packages_table tr td a {
      text-decoration: none; }
    #documentation #VScodium table.packages_table tr td:first-child::before {
      counter-increment: tableRow;
      content: counter(tableRow); }
  #documentation #Javascript #JSfunctionsTable {
    width: 95%; }
    #documentation #Javascript #JSfunctionsTable .colgroupInJS .functionCol {
      width: fit-content; }
    #documentation #Javascript #JSfunctionsTable .colgroupInJS .notesCol {
      width: 35%; }
    #documentation #Javascript #JSfunctionsTable tr td:nth-child(1) {
      text-align: left; }
  #documentation #Regex table colgroup col:nth-child(1) {
    max-width: 400px; }
  #documentation #Regex table tr td:nth-child(1) {
    text-align: left;
    color: green;
    letter-spacing: 2px;
    padding-left: 10px; }
  #documentation #Git table tr td:nth-child(1) {
    text-align: left; }
  #documentation #jQuery table tr td:nth-child(1) {
    text-align: left;
    color: green;
    letter-spacing: 1px;
    padding-left: 10px; }
  #documentation #Bootstrap table tr td:nth-child(1) {
    text-align: left;
    color: green;
    letter-spacing: 1px;
    padding-left: 10px; }

@media (max-width: 860px) {
  * {
    font-size: 12px; }

  #main-doc {
    grid-template-columns: 100%;
    grid-template-areas: "navbar" "documentation"; }
    #main-doc section {
      padding: 71px 0 10px 5px;
      width: 100%; }
      #main-doc section header {
        font-size: 20px; }
      #main-doc section code {
        display: block;
        width: fit-content; }
    #main-doc table {
      margin: 0 auto;
      width: 100%; }
      #main-doc table tr td, #main-doc table tr th {
        padding: 0;
        min-width: 0;
        width: fit-content; }

  #navbar {
    grid-area: navbar;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid grey; }
    #navbar header {
      text-align: center;
      margin: 0 auto;
      width: fit-content;
      padding: 0;
      font-size: 20px;
      display: none; }
    #navbar img {
      max-height: 80%;
      object-fit: contain;
      margin: 0;
      display: none; }
    #navbar ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 2px;
      margin-bottom: 2px; }
      #navbar ul li {
        text-align: center;
        border: 1px solid black;
        background: white;
        border-radius: 5px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
        width: fit-content; }

  #documentation table {
    margin: 0 auto;
    width: 100%; }
    #documentation table tr {
      min-width: 0; }
      #documentation table tr td, #documentation table tr th {
        padding: 0;
        padding-left: 1px;
        padding-right: 1px;
        min-width: 0;
        width: 100px; } }
@media (max-width: 653px) {
  #main-doc section {
    padding-top: 94px; } }

/*# sourceMappingURL=style.css.map */
